@import url('fonts.googleapis.com');
body{
  font-family: "Roboto", sans-serif;
}
.bldy{
  font-weight: bold;
}
.bx-shdw{
  box-shadow: 0px 5px 10px gray;
}
.container {
  display: grid; 
  grid-template-columns: 1fr 5fr;
  /* grid-template-rows: 50px 50px; */
  /* grid-auto-rows: 50px;
  grid-auto-flow: column;
  grid-auto-columns: 50px; */
}
.gry-text{
  color: gray;
}
.body{
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(227, 231, 239);
}
.sidebar img{
  filter: brightness(0) invert(1);
  height: 20px;

}
.sidebar{
  background-color: rgb(71, 144, 206);
  color: white;
  padding: 7px;
}
.dashboard img{
  height: 40px;
  width: 40px;
}
.dashboard span{
  font-size: 24px;
}
.dashboard{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.pady{
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pady span{
  margin-left: 11px;
}
#set{
  margin-top: 25px;
}
.header {
  background-color: white;
}
.header img{
  height: 24px;
  margin-left: 20px;
}
.header .account-img{
  height: 40px;
}
.search-bar{
  width: 50%;
  background-color: rgb(227, 231, 239);
  height: 20px;
  display: inline-block;
  margin-right: 70px;
  margin-left: 13px;
  border: 1px;
  border-radius: 15px;
  padding-bottom: 5px;
}
.mrg{
  margin-left: 20px;
}
.header-greeting{
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* padding-bottom: 50px; */
}
.hi{
  width: 69px;
}
.head{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
  padding: 25px;
}
.hea{
  /* padding-left: 25px; */
  display: grid;
  /* flex-direction: row; */
  align-items: center;
  /* padding-top: 20px; */
  /* padding-right: 20px; */
  padding: 25px;
  grid-template-columns: 1fr 18fr 1.5fr 1.5fr 5fr;
}
button{
  width: 80px;
  height: 35px;
  border-radius: 30px;
  margin-left: 30px;
  background-color: rgb(71, 144, 206);
  border: none;
  color: white;
}
.project-container{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* background-color: gray; */
}
.project-card{
  padding: 18px;
  border-left: 6px solid rgb(231, 182, 73);
  border-radius: 7px;
  box-shadow: 9px;
  background-color: white;
}
.projects{
  padding: 12px;
}
.project-card-buttons{
  display: flex;
  flex-direction: row-reverse;
}
.project-card-buttons img{
  height: 24px;
  margin-left: 18px;
}
.right-sidebar{
  padding: 12px;
}
.announcement-card{
  background-color: white;
  padding: 15px;
  border-radius: 7px;
}
.trending{
  margin-top: 28px;
}
.trending-card{
  padding: 15px;
  background-color: white;
  border-radius: 7px;
}
.trending-card-flex{
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 20px;
  /* justify-content: center; */
}
.trending-card-flex img{
  height: 44px;
}
.tr-crd{
  display: flex;
  flex-direction: column;
}
body{
  margin: 0px;
}