.center{
    text-align: center;
    background-color:burlywood;
    padding: 20px;
}
body{
    margin: 0px;
}
.filter{
    width: 200px;
    height: 120px;
    border: 4px solid black;
    background-color: aqua;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.article{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr; 
}
.no-margin{
    margin: 0px;
    /* margin-top: 20px; */
}
.card{
    /* height: 300px; */
    /* height: 85%; */
    border: 4px solid black;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    background-color: yellow;
}
/* @media (min-width: 530px) {
    .card {
        height: 200px; 
    }
} */
.only-display-onhover{
    display: none;
    background-color: red;
    margin-top: 10px;
    padding: 6px;
}
button{
    width: 100px;
    height: 40px;
    font-size: larger;
    border: solid 2px red;
    border-radius: 7px;
    margin-top: 5px;
    background-color: white;
}
.card:hover .only-display-onhover{
    display: block;
    align-items: center;
}
.display-block{
    text-align: center;
}
.form{
    width: 200px;
    height: 150px;
    border: 4px solid black;
    background-color: aqua;
    margin: auto;
    margin-top: 20px;
}
.btn-add{
    border: solid 2px aqua;
}