.calculator {
    padding: 20px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}
button {
    height: 50px;
    width: 50px;
    margin: 10px;
}
.mainInput{
    width: 280px;
    direction: rtl;
    text-align: right;
}
.lastButtons{
    width: 125px;
}