.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 4px;
}
.flexElement {
  height: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
}
.btn{
    margin: 10px;
    height: 30px;
}